
bin/netcoreapp2\.1/

ModbusTCPMasterExampleCSharp/\.vs/

ModbusTCPMasterExampleCSharp/obj/

ModbusTCPMasterExampleCSharp/Properties/

bin/

ModbusTCPSlaveExampleCSharp/\.vs/

ModbusTCPSlaveExampleCSharp/obj/
